.clue-stack {

    display: flex;
    flex-direction: column;
    /*so it aligns with cluebar and not banner for alignment with */

    font-size: 1rem;
}


.clue-list {
    margin: 0;
    list-style-position: inside;
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    padding-left: 0;
}

.clue-list-title {
    
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0;
    color: black;
}

.clue {

    padding: 0.25rem 0;
    cursor: pointer;
    line-height: 1.4;
    transition: background-color 0.1s;
    color: black;

    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    

}

.clue.selected {
    background-color:#A7D8FF;
}

.clue.relative {
    background-color:#FFECA0;
}

.clue-label {

    align-self: flex-start;
    width:10px;
    height:30px;
    line-height: 1; 
    font-weight: 700;
    font-size: 1.2em;
    padding-top: 4.5px;
}
.clue-text {
    margin-right: auto;
    margin-top: 3px;
    flex: 1;
    top: 50%;
    font-size: 0.9em;
    font-weight: 400;
    text-align: left;
}

.clue-side-highlight {
    width: 12px;
    height: 100%;
    
    margin-right: 10px;
}
/* 
.clue.sibling {
    display: flex;
    align-items: stretch;
    
} */
.clue.sibling .clue-side-highlight {
    background-color:#A7D8FF;
    top: auto;
}
/* 
.clue:hover {
    background-color: #f0f0f0;
} */