.enemy-grid-wrapper {
    width: 75%;
    min-width: 160px;
    max-width: 230px;

    aspect-ratio: 1;
    
    margin-bottom: 35px;
}

.enemy-grid-wrapper.blurred > .grid {
    filter: blur(3px)
}

.enemy-info {
    display: flex;
    justify-content: space-between;

    color: #343434;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 5px;
}
.enemy-cell {
    position: relative;
    border: 0.5px solid rgb(70, 70, 70);
    background-color: #FFFFFF;
    
    box-sizing: border-box;
    width: 100%;
}

.enemy-cell.blocked {
    background-color: #000000;

}
.enemy-cell.win {
    background-color: #BAFFC9;

}
.enemy-cell.filled {
    background-color: #F99393;

    
}
.enemy-cell.selected {
    /* background-color: #BAFFC9; */
    border-width: 3px;
    z-index: 3;
}

.ready {
    color: #006B2E
}

.not-ready {
    color: #D50000
}
