.grid-wrapper {
    width: 500px;
    aspect-ratio: 1;
    margin: 0 auto;
}

.grid {
    display: grid;
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    grid-template-columns: repeat(var(--grid-rows), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);

    justify-content: center;
    border: 2.5px solid black;
}

.cell {
    position: relative;
    border: 0.5px solid rgb(70, 70, 70);
    background-color: #FFFFFF;
}

.selected {
    background-color: #FFDA00;

}

.highlighted {
    background-color: #A7D8FF;

}

.blocked {
    background-color: #000000;

}


.letter {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5em;
    color: black;
    user-select: none;

}

.number {
    position: absolute;
    top: 15%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 1.6em;
    font-weight: 500;
    color: black;
    user-select: none;

}
