.page-container {
    display: flex;
    flex-direction: column; /* vertical stack */
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 80%; 
    margin: 0;
}

.header {
    text-align: center;
    margin-bottom: 40px;
    color: black;
}
h1 {
    margin: 0px;
    font-size: 3.2em;
    line-height: 1em;
}
p {
    text-align: right;
    font-size: 1.7em;
    margin: 0px;
}


.landing-main-area {
    display: flex; /* side by side */
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
    
    align-items: stretch;
}



.landing-grid-wrapper {
    min-width: 350px;

    width: 100%;
    aspect-ratio: 1;
    /* size depends on your grid component */
}


.landing-clue-bar {
    display: flex;
    width: 100%;
    height: 45px;
    background-color: #DCEFFF;
    color: black;
    margin-bottom: 10px;
}

.landing-cluebar-label {
    height: 100%;
    aspect-ratio: 1;
    font-size: 1.2em;
    font-weight: 700;
    align-content: center;
    text-align: center;
}

.landing-cluebar-text {
    height: 100%;
    margin-right: auto;
    align-content: center;
    font-size: 1em;
    font-weight: 500;
    text-align: left;
}


/* Grid */


.landing-grid {
    --grid-rows: 5;
    display: grid;
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    grid-template-columns: repeat(var(--grid-rows), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);

    justify-content: center;
    border: 2.5px solid black;

    font-size: clamp(8px, 2.5vmin, 20px);
}

.landing-cell {
    position: relative;
    border: 0.5px solid rgb(70, 70, 70);
    background-color: #FFFFFF;

    width: 100%;
}

.landing-cell.blocked {
    background-color: black;
}
.landing-cell.gray {
    background-color: #e7e7e7;
}
.landing-cell.lightgray {
    background-color: #f5f5f5;
}
.landing-cell.pink {
    background-color: #F99393;
}
.landing-cell.eye {
    background-color: #8ec299;
}
/* Controls */

.landing-controls {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 170px;
    justify-content: flex-end;



}

.landing-controls .landing-name-input,
.landing-controls .landing-code-input,
.landing-controls .landing-join-button,
.landing-controls .landing-create-button {
    padding: 7px;
    font-size: 16px;
    
    font-weight: bold;
}

.landing-name-input {

    padding: 0px;
    margin-bottom: auto;
    background-color: #F3F3F3;
    text-align: center;

    color: black;

    height: 30px;
}



.landing-code-input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;

    padding: 8px;
    background-color: #F3F3F3;
    text-align: center;
    color: black;

    letter-spacing: 3px;
    text-transform: uppercase;
}

.landing-join-button,
.landing-create-button {

    cursor: pointer;
    border: none;
    color: black;
    
    font-size: 16px;
}

.landing-join-button:focus,
.landing-create-button:focus {
  outline: none;
  box-shadow: 2px 2px 5px #6f6f6f;
}

.landing-join-form {
    width: 170px;
    box-sizing: border-box;

}
.landing-join-button {
    width: 100%;
    box-sizing: border-box;

    background-color: black;
    color: white;
    margin-bottom: 40px;
}

.landing-create-button {
    background-color: white;
    border: 1px solid black;

    margin-bottom:0px;
}
